altgraph==0.17.2
ambiance==1.3.1
appdirs==1.4.4
cliapp==1.0.9
click==8.1.3
cycler==0.11.0
daemonize==2.5.0
data-handler-csv==0.0.6
dbus-python==1.2.18
gobject==0.1.0
importlib-metadata==6.2.0
inkscape-figures==1.0.8
inotify==0.2.10
Jinja2==3.1.2
kiwisolver==1.4.4
llvmlite==0.39.1
Markdown==3.4.3
MarkupSafe==2.1.1
matplotlib==3.4.3
mccabe==0.7.0
meson==1.0.1
ninja==1.11.1
nose==1.3.7
numpy==1.21.3
pandas==1.5.1
Pillow==8.4.0
pycodestyle==2.10.0
pycryptodomex==3.15.0
pyflakes==3.0.1
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.10
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
python-dbusmock==0.28.7
pytz==2022.6
scipy==1.10.1
six==1.16.0
zipp==3.15.0
